@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Playpen+Sans+Hebrew:wght@100..800&display=swap');
h1{
    color:brown;
    font-size:250%;
    font-family: "Playpen Sans Hebrew", cursive;
}
div{
    max-width:640px;
    margin-right:auto;
    margin-left:auto;
}
h1,h2,li,footer{
    text-align:center;
}
li{
    list-style:none;
    width:calc(100%/3);
}

ul{
    padding:0;
    display:flex;
}
table{
    width:100%;
}
th{
    text-align:left;
}
.price{
    text-align:right;
}
li a{
    color:#000;
}
li a:hover{
    text-decoration:none;
    opacity:0.6;
}
header{
    border-top:solid 10px #644c4c;
}
h2{
    background-image:url(image/bg_h2.png);
    background-repeat:no-repeat;
    background-position:center bottom;
    background-size:220px 28px;
}
section{
    box-shadow:0 0 10px 0 #ccc;
    margin-top:40px;
    padding:10px 20px;
}
th img{
    border-radius:6px;
}
img{
    max-width:100%;
}
iframe{
    max-width:100%;
}
@media(max-width:640px){
    ul{
    flex-direction:column;
    }
    li{
    width:auto;
    }
    li a{
    padding:1em;
    margin-bottom:0.5em;
    display:block;
    background-color:#B48F72;
    border-radius:6px;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    }
}